body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial;
    text-align: center;
}
header h1{
    background-color: rgb(0, 0, 63);
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
}

.titulo{
    font-size: 20px;
    padding: 10px;
}
footer{
    color:white;
    background-color: black;
    text-align: center;
    padding: 5px;
}

main{
    background-color: white;
    padding: 20px;
  }

.paragrafo{
    margin-top: 6px;
}

.radio{
 margin: 10px;
}

img{
    width: 70%;
    height: 380px;
    
}

.slider{
    overflow: hidden;
    padding: 14.5px;

}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}
