body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial;
    min-height: 100vh;
    align-items: center;
    color:white;
    background-image: url(../image/imagem\ de\ fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    color: inherit;
    text-decoration: none;
  }
  
  * {
    box-sizing: border-box;
  }

::-webkit-scrollbar{
    width: 12px;
    background-color: rgb(99, 98, 98);
}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, rgb(102, 2, 102),rgb(11, 11, 158));
    border-radius: 10px;
}

header{
    background-color: rgb(4, 4, 126);
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.menu{
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu,h5,a{
  margin:5px;
  font-size:17px;
}

.distancia{
    margin-right: 25px;
}
.card{
    font-size: 11px;
    padding: 10px;
    text-align: center;
    margin:30px;
    background-color: rgb(4, 4, 126);
    color:white;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

footer{
    color:white;
    background-color: rgb(4, 4, 126);
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
}

main{
    width:100%;
    padding: 10px;
  }

.paragrafo{
    margin-top: 6px;
}

img{
    width: 90%;
    height: 480px;
}

.slider{
    overflow: hidden;
    padding: 14.5px;
}
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;

}

.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(-2%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-105%);
}
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-208%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-311%);
}

a:hover{
	color: #7260d7;
}

.slider-item{
    margin:20px;
    font-size: 16px;
    background-color: rgb(5, 5, 87);
    color:white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}
