body{
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial;
}
header h1{
    background-color: rgb(0, 0, 63);
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
}

.titulo{
    font-size: 15px;
}
footer{
    color:white;
    background-color: black;
    text-align: center;
    padding: 5px;
}

main{
    background-color: white;
    padding: 20px;
  }